<div class="l_login-form">

	<form novalidate autocomplete="off" name="$ctrl.loginForm" ng-submit="$ctrl.submitHandler()">

	  <div ng-class="{'has-error': $ctrl.loginForm.email.$invalid && $ctrl.registerForm.email.$dirty}" class="form-group">

	    <label >email</label>

	    <input required ng-model="$ctrl.formData.email" name="email" type="email" class="form-control" placeholder="email">

	    <div class="help-block" ng-messages="$ctrl.loginForm.email.$error">
	    	<div ng-message="required">Required</div>
	    	<div ng-message="email">Invalid email</div>
	    </div>

	  </div>

	  <div ng-class="{'has-error': $ctrl.loginForm.password.$invalid && $ctrl.registerForm.password.$dirty}" class="form-group">

	    <label >Password</label>

	    <input required ng-model="$ctrl.formData.password" name="password" type="password" class="form-control" placeholder="Password">

	    <div class="help-block" ng-messages="$ctrl.loginForm.password.$error">
	    	<div ng-message="required">Required</div>
	    </div>

	  </div>

	  <button type="submit" class="btn btn-default btn-lg" ng-disabled="$ctrl.loginForm.$invalid">Sign in</button>

	</form>

</div>

