<div class="l_register">
	<form novalidate autocomplete="off" name="$ctrl.registerForm" ng-submit="$ctrl.submitHandler()">
	  <div class="form-group">
	    <label >firstName</label>
	    <input required ng-model="$ctrl.formData.firstName" name="firstName" type="text" class="form-control" placeholder="firstName">
	  </div>
	  <div class="form-group">
	    <label >lastName</label>
	    <input required ng-model="$ctrl.formData.lastName" name="lastName" type="text" class="form-control" placeholder="lastName">
	  </div>
	  <div class="form-group">
	    <label >email</label>
	    <input required ng-model="$ctrl.formData.email" name="email" type="email" class="form-control" placeholder="email">
	  </div>
	  <div class="form-group">
	    <label >Password</label>
	    <input required ng-model="$ctrl.formData.password" name="password" type="password" class="form-control" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-default" >Register</button>
	</form>

</div>